*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    margin-left: 30px;
    margin-top: 50px;
}
li{
    list-style: none;
}

li p {
    margin-bottom: 10px;
}